
<h2>Editar <%= resource_name.to_s.humanize %></h2>
<%= link_to "Regresar", root_path, "class"=>"ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password ,"Password nuevo"%> <i>(Deja el espacio en blanco si no deseas cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"Canfirma el nuevo Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password ,"Password actual"%> <i>(Se requeire tu password actual para poder proceder)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", "class"=>"ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" %>
  </div>
<% end %>

<h3>Cancel la cuenta</h3>

<p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete , "class"=>"ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all"%></p>

<%= link_to "Regresar", root_path, "class"=>"ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" %>
