<h1 class="alert alert-danger center" >Proceso de Venta</h1>
<input data-type="search" id="searchForCollapsibleSetChildren">
<div data-role="collapsible-set" data-filter="true" data-children="> div, > div div ul button" data-inset="true" id="collapsiblesetForFilterChildren" data-input="#searchForCollapsibleSetChildren" data-filter-reveal="true">
  <%if @padre.present?%>
    <%@padre.each do |padre|%>
      <% @productos = Producto.where("producto_padre_id = ?", padre.id) %>
      <div data-role="collapsible" data-filtertext="<%=padre.nombre%> <%@productos.each do |name|%> <%=name.nombre%> <%=name.clave%> <%=name.busqueda%> <%end%>">
          <h3><%=padre.nombre%></h3>
          <ul data-role="listview" data-inset="false">
            <%@productos.each do |name|%> 
              <button data-filtertext="<%=name.clave%> <%=name.nombre%> <%=name.busqueda%>" data-theme="b" onclick="enviar(<%=name.id%>, '<%=name.nombre%>', <%=name.venta%>)" class="ui-grid-a">
                <div class="ui-block-a"><%=name.nombre%></div>
                <div class="ui-grid-a">
                  <div class="ui-block-a">Clave: <%= name.clave%></div>
                  <div class="ui-block-b">Venta S/IVA: <%= name.venta%></div>
                </div> 
              </button>
            <%end%> 
          </ul>
      </div>
    <%end%>
  <%else%> 
    <p class="alert alert-danger">No se han registrado productos aun</p>
  <%end%>
</div>
<%= render "adicional"%>
<%if @ventum.present?%>
  <%= render "editform"%>
<%else%>
  <%= render "newform"%>
<%end%>

<script type="text/javascript">
  $(document).ready(function(){
    console.log(window.name)    
      if(window.name == "norefreshed") {
        jQuery.mobile.changePage(window.location.reload(), {
          allowSamePageTransition: true,
          transition: 'none',
          reloadPage: true
        });
        window.name="refreshed"
    }
  });
</script>