<p id="notice"><%= notice %></p>

<h1 class="alert alert-danger center" >Ventas registradas</h1>
<%= link_to 'Registrar venta', new_ventum_path, "data-role" => "button", "data-inline" => "true" %>
<div class="col-md-12">
  <form>
      <input id="filterTable-input" data-type="search">
  </form>

  <table class="table table-bordered ui-responsive" data-role="table" data-filter="true" data-input="#filterTable-input">
    <thead>
      <tr>
        <th></th>
        <th>Creador</th>
        <th>Cliente</th>
        <th>Clave</th>
        <th>Fecha</th>
        <th>Fecha Creación</th>
        <th>IVA</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody> 
      <% @venta.each do |ventum| %>
        <tr>
          <td>
            <%if ventum.status.present?%>
              <div class="novisible"><%= ventum.status%></div>
              <%if ventum.status == "Revisado"%>
                <i class="fa fa-cog fa-spin red_g"></i>
              <%elsif ventum.status == "Auditado"%>
                 <i class="fa fa-cog fa-spin red_b"></i>
              <%elsif ventum.status == "Correccion"%>
                 <i class="fa fa-cog fa-spin red_y"></i>
              <%elsif ventum.status == "En proceso"%>
                 <i class="fa fa-cog fa-spin red_s"></i>
              <%end%>
            <%else%>
              <div class="novisible">En proceso</div>
              <i class="fa fa-cog fa-spin red_s"></i>
            <%end%>
          </td>
          <td><%if ventum.user%><%=ventum.user.email[0..ventum.user.email.index('@')-1]%><%end%></td>
          <td><%= ventum.cliente %></td>
          <td><%= ventum.clave %></td>
          <td><%= ventum.fecha %></td>
          <td><%= ventum.created_at %></td>
          <td><%= ventum.iva %></td>
          <td><%= link_to 'Ver', ventum %></td>
          <td><%= link_to 'Editar', edit_ventum_path(ventum)%></td>
          <td><%= link_to 'Eliminar', ventum, method: :delete, data: { confirm: 'Estas seguro de eliminar este registro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
$(document).ready(function(){
      window.name = "norefreshed";
});
</script>