<center><%=image_tag "sos", class: ""%>  </center>

<div class="flexslider" id="flexslider" rel="external">
  <ul class="slides">
    <li>
    	<%=image_tag "easy"%>
    </li>
    <li>
    	<%=image_tag "join"%>
    </li>
    <li>
    	<%=image_tag "cont"%>
    </li>
    <li>
    	<%=image_tag "aspel"%>
    </li>
    <li>
    	<%=image_tag "atime"%>
    </li>
  </ul>
</div>

<script type="text/javascript">

    $(window).load(function() {
      $('#flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 100,
        itemMargin: 5,
        minItems: 1,
        maxItems: 1
      });
    });
</script>