<div class="col-md-8">
    <p class="center">Descargar documento de Estimación con los siguientes elementos:</p>
    <table class="table table-bordered ui-responsive" data-role="table">
      <thead>
        <tr>
          <th>Producto/servicio</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Descuento</th>
          <th>Venta</th>
        </tr>
      </thead>

      <tbody>
        <%@x = 0%>
        <%i = 0%>
        <%@object.each do |x| %>
          <tr>
            <td><%=x[0].nombre%></td>
            <td><%=x[0].venta%></td>
            <td><%=@cant[i]%></td>
            <td><%=@descuento[i]%>%</td>
            <td><%=@venta[i]%></td>
          </tr>
          <%i = i + 1%>
        <% end %>
        <%if @tiempo_instalar.present?%>
          <tr>
            <td>Costo instalacion</td>
            <td><%=@unicoinstalar%></td>
            <td><%=@tiempo_instalar%>hrs.</td>
            <td></td>
            <td><%=@costo_instalar%></td>
          </tr>
        <%end%>
         <tr>
            <td>Total sin iva</td>
            <td></td>
            <td></td>
            <td></td>
            <td><%=@preciofinal%></td>
          </tr>
      </tbody>
    </table>

    <%= link_to ' Descargar Estimación',  eventos_path(request.parameters.merge({:format => :xlsx})), :onclick => "$('#index').submit()","data-role" => "button","data-inline" => "true", "data-theme" => "b", "download"=>"fa-download", "data-ajax"=>"false"%>
    <%= link_to ' Descargar Cotización',  eventos_path(request.parameters.merge({:format => :pdf})), :onclick => "$('#index').submit()","data-role" => "button","data-inline" => "true", "data-theme" => "b", "download"=>"fa-download", "data-ajax"=>"false"%>
    <%= link_to ' Descargar carta de aceptacion',  eventos_path(request.parameters.merge({:format => :adicional})), :onclick => "$('#index').submit()","data-role" => "button","data-inline" => "true", "data-theme" => "b", "download"=>"fa-download", "data-ajax"=>"false"%>
    <%= link_to "Regresar", eventos_path, "data-role" => "button","data-inline"=>"true","data-theme" =>"b"%>
  </div>
  <div class="col-md-4">
    <img src="/assets/images/sos.png">
  </div> 