<div class="col-md-8 col-md-offset-2">
<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre ,"Nombre *"%><br>
    <%= f.text_field :nombre , "required"=>"required"%>
  </div>
  <div class="field">
    <%= f.label :clave ,"Clave de Producto *"%><br>
    <%= f.text_field :clave , "required"=>"required"%>
  </div>
  <div class="field">
    <%= f.label :precio , "Costo proveedor *"%><br>
    <%= f.number_field :precio, "required"=>"required" , :step => 'any'%>
  </div>
   <div class="field">
    <%= f.label :venta , "Precio al publico Sin IVA *"%><br>
    <%= f.number_field :venta, "required"=>"required", :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :instalacion ,"Tiempo de instalacion en minutos remotamente"%><br>
    <%= f.number_field :instalacion , "required"=>"required"%>
  </div>
  <div class="field">
    <%= f.label :instalacionpreencial ,"Tiempo de instalacion Presencial"%><br>
    <%= f.number_field :instalacionpreencial, "required"=>"required" %>
  </div>
  <div class="field">
    <%= f.label :producto_padre_id %><br>
    <%= f.select(:producto_padre_id) do %>
      <%= content_tag(:option, "Selecciona un Producto padre", value: "") %>
      <% @padre.each do |valor|%>
        <%= content_tag(:option, valor.nombre, value: valor.id) %>
      <%end%>
    <%end%>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" , "class"=>"ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all"%>
  </div>
<% end %>
</div>
