<p id="notice"><%= notice %></p>
<%= link_to 'Editar', edit_producto_path(@producto), "data-role" => "button", "data-inline" => "true", "data-theme" => "b"  %> 
<%= link_to 'Regresar', productos_path, "data-role" => "button", "data-inline" => "true", "data-theme" => "b"  %>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @producto.clave %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Producto padre:</strong>
  <%= @producto.producto_padre %>
</p>

