<p id="notice"><%= notice %></p>

<h1 class="alert alert-danger center" >Productos padre</h1>

<table class="table table-bordered ui-responsive" data-role="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clave de proveedor</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_padres.each do |producto_padre| %>
      <tr>
        <td><%= link_to  producto_padre.nombre, producto_padre %></td>
        <td><%= producto_padre.clave %></td>
        <td><%= link_to 'Editar', edit_producto_padre_path(producto_padre) %></td>
        <td><%= link_to 'Eliminar', producto_padre, method: :delete, data: { confirm: 'Estas seguro?, esto eliminara todo lo relacionado con este producto' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear producto padre', new_producto_padre_path, "data-role" => "button", "data-inline" => "true", "data-theme" => "b"  %>
