<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Estimacion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page">
	<div data-role="header" class="header">
	<%= render "parcial/nav"%>
	</div>
	<div data-role="content"  id="page-top"class="col-md-8 col-md-offset-2 contenido" >
		<div class="maximo">
			<%= yield %>
		</div>
	</div>
	<div class="col-md-2 topcien">
		<p class="notice alert"><%= notice %></p>
       	<p class="alert"><%= alert %></p>
	</div>
	<div data-role="footer">
		
	</div>
</div>
</body>
</html>
